#Assets
/frontend/assets/sonidos
/frontend/assets/sprites


#Enunciado
*Enunciado.pdf
*Enunciado(imprimible).pdf

#Archivos
*aparicion_zombies.py
*puntajes.txt

#Otros
*/__pycache__/
/__pycache__/
*.DS_STORE.DS_Store
.DS_store